*
{
    margin: 0;
    padding: 0;
}

title
{
    text-align: center;
}

body
{
    min-height: 300vh;
    background-image: linear-gradient(rgba(59, 65, 62, 0.763) 15%, #072808a2 100%), url(/website/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1
{
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-align: center;
}

h2
{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
}

.searchContainer
{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#keywordField
{
    text-align: center;
    width: 400px;
    height: 35px;
    
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.119);  
    backdrop-filter: blur(5px);
}

.searchContainer #submit
{
    margin-left: 30px;
    width: 140px;
    height: 35px;
    
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.119);  
    backdrop-filter: blur(5px);
}



.result
{
    padding-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;  
    width: 50%;
    max-width: 800px;
    margin-top: 50px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.119);  
    backdrop-filter: blur(5px);
    transition: all 0.2s;
}

.result:hover
{
    transform: scale(1.2);
}

.result h1
{
    font-size: 30px;
    color: white;
}


.result p
{
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
}

.result img
{
    margin-top: 30px;
    margin-left: 12.5%;
    width: 75%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.557); 
}